h1 {
    background-color: grey;
}

form.join-Area {
    width: 400px;
    height: 250px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1f);
    place-items: center center;

}

form.join-Area>input:not(:last-child) {
    width: 80%;
    height: 60%;
    font-size: 1.2em;

}

form.join-Area> :last-child {
    grid-column: span 2;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}